body {
    font-family: Microsoft JhengHei;
}

#about {
    margin: 3.5rem 0;
}

#banner {
    position: fixed;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#people {
    /* height: 60vh; */
}

.col-lg{
    background-color: rgba(50, 50, 50, 0.62);
}
.text {
    height: 100vh;
}

@media (max-width: 991.5px) {
    #banner {
        position: static;
        height: 30vh;
    }

    #people {
        height: 30vh;
    }
}