#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url(../img/blog.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.col-lg{
    /* background-color: rgba(50, 50, 50, 0.62); */
}
#people {
    height: 40vh;
}

/*
 * Blog posts
 */
 .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }